.content {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background-color: #080b16;
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;

    margin-top: 70px;

    @media (min-width: 150px) and (max-width: 800px) {
        & {
            margin-bottom: 80px;
            margin-top: 0;
        }
    }
}