.page {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eff2ff;


    overflow: hidden;

    padding: 20px 0;

    min-height: 100vh;

    &>h1,
    h2 {
        margin-bottom: 5%;
    }
}