@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: linear-gradient(-45deg, #ffffff, #28a6e9, #000000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;


    @media (min-width: 150px) and (max-width: 480px) {
        & {
            background: #fff;
            animation: none;
        }
    }
}