.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


    transition: 0.3s all !important;
    width: 65%;

    p {
        margin-top: 5%;
    }

    @media (min-width: 150px) and (max-width: 480px) {
        & {
            width: 100%;
        }
    }

    @media (min-width: 481px) and (max-width: 1024px) {
        & {
            width: 90%;
        }
    }


}