.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;


    position: fixed;
    top: 0;
    left: 10px;
    right: 0;

    padding: 10px;
    margin: 10px;

    transition: 0.3s all;

    img {
        display: flex;
        height: 60px;
        border-radius: 4px;
        overflow: hidden;
    }

    @media (min-width: 150px) and (max-width: 480px) {
        & {
            display: none !important;
        }
    }
}