.header {
    display: flex;

    position: relative;

}

.appbar {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;


    .sologo {
        justify-content: center !important;
    }

    &>* {
        display: flex !important;
        justify-content: space-between !important;

        background: #34396a !important;
        border-radius: 4px;
        margin: 2% 3%;

        a {
            display: flex;
            align-items: center;
            margin: 7px;
            font-size: 30px !important;
            color: #fff;
            font-weight: bold;

            @media (min-width: 150px) and (max-width: 800px) {
                & {
                    font-size: 25px !important;
                }

                svg {
                    margin-left: 5px;
                    margin-right: 5px;
                    font-size: 35px !important;
                }
            }

            svg {
                margin-left: 5px;
                margin-right: 5px;
                font-size: 40px !important;
            }
        }

        button {
            margin: 7px;

            svg {
                width: 40px !important;
                height: auto;
            }
        }
    }
}