@import "menu.scss", "toggle.scss", "modal.scss", "buttons.scss", "swal.scss", "about.scss", "settings.scss";

* {
    margin: 0;
    padding: 0;

    font-family: DM Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;

    white-space: nowrap;
    text-overflow: ellipsis;

}

html {
    color: #fff;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;

    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    max-width: 100vw !important;
    overflow-x: hidden;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem !important;
    text-align: center !important;
    font-weight: bold;

    margin-bottom: 0.75rem;

    &>svg {
        font-size: 2.5rem !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}


#root {
    position: relative;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #97a0b8;
    font-family: DM Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

button {
    cursor: pointer;
    font-family: DM Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

input {
    background-color: #34396a !important;
    color: #fff !important;
    font-size: 1.4rem !important;

    border: none !important;

    &:focus,
    &:hover {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none !important;
    }

}

.MuiFormLabel-root {
    top: -2px !important
}

label {
    // color: rgb(134, 144, 156) !important;
    color: #fff !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

legend {
    font-size: 1.1rem !important;
    height: 15px !important;
}